@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: light;
      }
    html {
        font-family: "Montserrat Variable", sans-serif;
    }
    body{
        background: #ffffff;
        overflow-x: hidden;
    }
}

@layer components{
    .input-box{
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }
    .btn-primary{
        @apply w-full text-sm bg-blue-800/90 text-white p-2 rounded my-1 hover:bg-blue-800/50;
    }
    .icon-btn{
        @apply text-xl text-slate-300 cursor-pointer hover:text-primary ;
    }
    .input-label{
        @apply text-xl text-slate-600;
    }
}